<!doctype html>
<html lang="es">

<head>
  <title>Registro</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Registro de turistas
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            <div class="mb-3">
                              <label for="txtNombre" class="form-label">Nombre:</label>
                              <input type="text"
                                class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Digite su Nombre">
                            </div>
                            <div class="mb-3">
                              <label for="" class="form-label">Apellidos.</label>
                              <input type="text"
                                class="form-control" name="txtApellido" id="txtApellido" aria-describedby="helpId" placeholder="">
                            </div>
                            <div class="mb-3">
                              <label for="txtCedula" class="form-label">Cedula:</label>
                              <input type="text"
                                class="form-control" name="txtCedula" id="txtCedula" aria-describedby="helpId" placeholder="Digite su cedula ">
                            </div>
                            <div class="mb-3">
                              <label for="txtCorreo" class="form-label">Correo:</label>
                              <input type="email"
                                class="form-control" name="txtCorreo" id="txtCorreo" aria-describedby="helpId" placeholder="Digite su correo ">
                            </div>
                            <div class="mb-3">
                              <label for="txtCelular" class="form-label">Celular:</label>
                              <input type="text"
                                class="form-control" name="txtCelular" id="txtCelular" aria-describedby="helpId" placeholder="Digite su numero de celular ">
                            </div>
                            <div class="mb-3">
                              <label for="txtPassword" class="form-label">Contraseña:</label>
                              <input type="password"
                                class="form-control" name="txtPassword" id="txtPassword" aria-describedby="helpId" placeholder="Digite su contraseña ">
                                <button type="submit" class="btn btn-success">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                
            </div>
            
        </div>
    </div>


  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>