<!doctype html>
<html lang="es">

<head>
  <title>Inicio</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/" aria-current="page">Inicio</a>
            {% if session["rol"] == "su" %}
                <a class="nav-item nav-link" href="/admin/verAdmin">Agregar Admin</a>
            {% endif %}
            <a class="nav-item nav-link" href="/admin/categorias">Agregar Categoria</a>
            {% if session["rol"] == "su" or session["rol"] == "ad" %}
            <a class="nav-item nav-link" href="/admin/operadores">Agregar Operador</a>
            {% endif %}
            <a class="nav-item nav-link" href="/admin/cerrar">Cerrar</a>
        </div>
    </nav>
  