{% include 'admin/header.html' %}


<div class="container">
    <div class="row">
        <div class="col-md-5">
           <div class="card">
            <div class="card-body">
                <h4 class="card-herder">
                    Datos del sitio
                </h4>
                <div class="mb-3">
                  <label for="" class="form-label">Nombre:</label>
                  <input type="text" name="nombre" id="nombre" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Direccion:</label>
                    <input type="text" name="direccion" id="direccion" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Descripcion:</label>
                    <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoria </label>
                        <select class="form-select form-select-lg" name="categoria" id="categoria">
                            <option selected>Select one</option>
                        </select>
                    </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
            </div>
           </div> 
        </div>
        </div>
        <div class="col-md-7">
            
        </div>
        
    </div>
</div>

{% include 'admin/footer.html' %}